@page
@model historiasClinicas.Pages.Internaciones.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Internacion Paciente Fulano</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternacPaciente.Id_expediente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternacPaciente.Id_expediente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternacPaciente.Id_personal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternacPaciente.Id_personal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternacPaciente.Fecha_ingreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternacPaciente.Fecha_ingreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternacPaciente.Imp_diagnostica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternacPaciente.Imp_diagnostica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternacPaciente.Tratamiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternacPaciente.Tratamiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternacPaciente.HistoriaClinicaGral)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternacPaciente.HistoriaClinicaGral)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InternacPaciente.Id_internacion">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
